/* 
body{
    display: flex;
    justify-content: flex-start;
} */


.navbar_container{
   
    margin-top: 0.5vh;
    width: 13%;
    height: auto;
    border-radius: 0 5vh 5vh 0;
    background-color: #dedef1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    
    
}

.nav_content > li{
    all: unset;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}

.nav_content{
    
    display: flex;
    flex-direction:column;
    
    
    
    gap: 2vh;

}


.login_signup{
    margin-left:30px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profilelogo{
    height: 30px;
    object-fit: contain;
}

.text{
    /* text-decoration: none; */
    color: black;
}

.text{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}


