/* 
body{
    display: flex;
    justify-content: flex-start;
} */


.navbar_container{
   
    
    width: 100%;
    height: 10%;
    /* border-radius: 0 5vh 5vh 0; */
    background-color: #dedef1;
    display: flex;
    gap: 60%;
    
    justify-content: space-around;
    
    
    
    
}
.item{
    all: unset;
}


.nav_content >.nav_item{
    text-decoration: none;
    all: unset;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    cursor: pointer;
    
}

.nav_content{
    
    display: flex;
    flex-direction:row;    
    gap: 4vh;
}

.nav_content >.item{
    all: unset;
    text-decoration: none;
}




.login_signup{
    margin-left:30px ;
    display: flex;
    flex-direction: row;

    gap: 10px;
}

.profilelogo{
    height: 30px;
    object-fit: contain;
}

.text{
    /* text-decoration: none; */
    color: black;
}

.text{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}


